<p-card class="p-shadow-24">

    <div class="p-grid" style="text-align: center;">

        <div class="p-col-8" class="p-d-flex">
            <div class="p-grid">

                <div class="p-col-6">
                    <p-card>
                        <ng-template pTemplate="header">
                            Header content here
                        </ng-template>

                        Body Content

                        <ng-template pTemplate="footer">
                            Footer content here
                        </ng-template>
                    </p-card>
                </div>

                <div class="p-col-6">
                    <p-card>
                        <ng-template pTemplate="header">
                            Header content here
                        </ng-template>
                        Body Content
                        <ng-template pTemplate="footer">
                            Footer content here
                        </ng-template>
                    </p-card>
                </div>

            </div>
        </div>

        <div class="p-col-5">
            <p-card>
                <ng-template pTemplate="header">
                    Header content here
                </ng-template>
                <p-chart type="pie" [data]="data"></p-chart>
                <ng-template pTemplate="footer">
                    Footer content here
                </ng-template>
            </p-card>
        </div>

    </div>

</p-card>