<p>produto-cadastro works!</p>

<p-card>

    <form [formGroup]="formProduto">

        <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-12 p-md-6 ui-float-label">
                <input id="float-input" placeholder="Nome" class="input" type="text" [(ngModel)]="produto.nome"
                    formControlName="nome" pInputText>
            </div>

            <br>

            <div class="p-field p-col-12 p-md-6 ui-float-label">
                <textarea type="text" rows="4" placeholder="Descrição" [(ngModel)]="produto.descricao"
                    formControlName="descricao" pInputTextarea></textarea>
            </div>

            <br>

            <div class="p-field p-col-12 p-md-6  ui-float-label">
                <input class="input " type="number" pKeyFilter="pnum" [(ngModel)]="produto.preco" size="30"
                    formControlName="preco" placeholder="Preço:" pInputText />
            </div>

            <br>

            <div class="p-field p-col-12 p-md-6 ui-float-label">
                <input id="quantidade" type="number" placeholder="Quantidade" [(ngModel)]="produto.quantidade"
                    formControlName="quantidade" pInputText>
            </div>

            <br>

            <div class="p-field p-col-12 p-md-6 ui-float-label">
                <p-dropdown [options]="categorias" [(ngModel)]="categoria" placeholder="Categorias"
                    formControlName="categoria" optionLabel="descricao" optionValue="id">
                </p-dropdown>
            </div>

            <br>

            <div class="p-field p-col-12 p-md-6 ui-float-label">
                <p-dropdown [options]="tipoSituacaoLista" [(ngModel)]="tipoSituacao" placeholder="Estoque"
                    formControlName="tipoSituacao" optionLabel="descricao" optionValue="id">
                </p-dropdown>
            </div>

            <br>

            <!-- <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Save"
                icon="pi pi-check" (onClick)="salvar()" [model]="items"></p-splitButton> -->

            <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
            <button (click)="confirm()" pButton icon="pi pi-check" [label]="edicao ?'Editar' : 'Cadastrar' "></button>

            <br>


            <!-- <div class="p-field p-col-12 p-md-3 ui-float-label">
                <label for="zip">Zip</label>
                <input id="zip" type="text" formControlName="qantidade" pInputText>
            </div> -->

        </div>

    </form>

</p-card>