<p-card>
    <h2>Cadastro de Produto</h2>

    <form [formGroup]="formProduto">

        <div class="p-fluid p-grid">

            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-caret-right"></i></span>
                    <input type="text" pInputText [(ngModel)]="produto.nome" formControlName="nome" placeholder="Nome">
                </div>
            </div>


            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="produto.descricao" formControlName="descricao">
                    <label for="descricao">descricao</label>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">$</span>
                    <input type="text" pInputText [(ngModel)]="produto.preco" formControlName="preco">
                    <span class="p-inputgroup-addon">.00</span>
                </div>

            </div>

            <div class="p-inputgroup">

                <input type="text" pInputText [(ngModel)]="produto.quantidade" formControlName="quantidade"
                    placeholder="quantidade">
            </div>

            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">

                    <div class="p-field p-col-12 p-md-6">
                        <input class="input" type="datetime-local" [(ngModel)]="produto.dataAquisicao"
                            placeholder="Data e hora:" formControlName="dataAquisicao" pInputText />
                    </div>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-dropdown [options]="categorias" placeholder="Categoria" [(ngModel)]="categoria"
                        formControlName="categoria" optionLabel="descricao" optionValue="id"></p-dropdown>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">

                    <p-dropdown [options]="tipoSituacaoLista" placeholder="tipoSituacao" [(ngModel)]="tipoSituacao"
                        formControlName="tipoSituacao" optionLabel="descricao" optionValue="id"></p-dropdown>

                </span>
            </div>
        </div>


        <button (click)="salvar()" pButton icon="pi pi-save" type="button" [label]="edicao ?'Editar' : 'Cadastrar' ">
        </button>
        <p-toast></p-toast>

    </form>

</p-card>