<p-card>
    <table class="table">
        <tbody>
            <tr>
                <div class="informacao-produto">
                    <p-card class="botao-editar">
                        Editar Produto:
                        <button (click)="mostrarDialogEditar(produto.id)" [routerLink]="editar" pButton type="button"
                            icon="pi pi-pencil"></button>

                    </p-card>
                    <div class="atributo p-shadow-1">
                        <h3>Descrição</h3>
                        <td>{{ produto.descricao }}</td>
                    </div>
                    <div class="atributo p-shadow-1">
                        <h3>Categoria</h3>
                        <td>{{ produto.categoria }}</td>
                    </div>
                    <!-- <div class="atributo p-shadow-1">
                        <h3>Tipo do produto</h3>
                        <td>{{ produto.categoria }}</td>
                    </div> -->

                    <div>
                        <p-table [scrollable]="true" scrollHeight="200px">

                            <ng-template pTemplate="header">
            <tr>
                <th>Feedback</th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-produto>
                <tr>
                    <td>{{produto.nome}}</td>
                </tr>
            </ng-template>
            </p-table>
            </div>
            </div>
            </tr>
            <tr>
        </tbody>
    </table>

    <div class="p-d-flex p-jc-left">
        <p-button label="Confirmar" icon="pi pi-check" styleClass="p-button-warning"
            [routerLink]="['/produtos/listagem' , produto.id ]"></p-button>
    </div>
    <!-- <div class="p-d-flex p-jc-end">
        <button pButton type="button" icon="pi pi-pencil" [routerLink]="['editar' , produto.id ]"></button>
      
    </div> -->
</p-card>